.hobby-ttl{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.parent {
    display: flex;
    justify-content: space-between;
}

.child {
    display: flex;
    margin: 100px;
}

a{
    color:black;
}

.footer {
    text-align: center;
}

.photo1 {
    text-align: left;
}

.photo2 {
    text-align: right;
}