/* /about　だけで使うcss */
*{
    color: black;
}

.about-myname{
    font-size:40px;
    font-weight:bold;
    margin-bottom:40px;
    text-align:center;
}

.about-postscript{
    font-size:15px;
    font-weight:bold;
    margin-bottom:40px;
    text-align:right;
}

.footer {
    text-align: center;
}

.time{
    text-align: right;
}